#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  flex-wrap: wrap;
  position: relative;
}
.space-between {
  justify-content: space-between;
}
.col {
  width: 20%;
}
.card {
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
}
.card img {
  max-width: 100%;
  transform: scale(1.5);
}
.card:hover img {
  transform: scale(1);
}
.img-placeholder {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  /*box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);*/
}
h3 {
  font-weight: 400;
  margin-bottom: 0;
}
p {
  font-weight: 300;
}
a {
  color: #888;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.shadow {
  display: block;
  width: 100%;
  height: 200px;
  background: linear-gradient(
    to right,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );
  position: absolute;
  bottom: 0;
}
.button {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.title-content {
  font-size: 18px;
  font-weight: 700;
}
